/* IE 8 CSS */

/* set width to overwrite responsive */

.container
{
    width: 1170px !important;
    min-width: 1170px;
}

html,
body
{
    min-width: 1170px;
}

.navbar-collapse.collapse
{
   display: block !important;
}