/* ipad styles (both orientations) */
@media only screen and (max-device-width: 768px)
{
    #carousel-tpx-shows
    {
        width: 100%;
    }
}

/* ================================== */
/* ipad styles :: portrait view only */
@media only screen and (orientation:portrait) and (min-device-width: 768px)
{

    .carousel-caption
    {
        font-size: 14px;
        left: 600px;
        top: 60px;
    }

    .item.candidly .carousel-caption,
    .item.laa .carousel-caption,
    .item.peoplescourt .carousel-caption
    {
            top: 70px;
    }

    .item.ellen .carousel-caption
    {
            top: 80px;
    }

}

/* ================================== */
/* ipad styles :: landscape view only */
@media (orientation:landscape) and (max-device-width: 768px)
{
    .carousel-caption
    {
        left: 780px;
    }
}

