/* ipad styles (both orientations) */
@media only screen and (max-device-width: 768px)
{
    #carousel-tpx-shows,
    .show-link
    {
        width: 100%;
    }
}

/* ================================== */
/* ipad styles :: portrait view only */
@media only screen and (orientation:portrait) and (min-device-width: 768px)
{

    .carousel-caption
    {
        font-size: 14px;
        left: 528px;
        top: 50px;
    }

    .item.candidly .carousel-caption,
    .item.laa .carousel-caption,
    .item.peoplescourt .carousel-caption
    {
         top: 70px;
    }

    .item.ellen .carousel-caption
    {
         top: 90px;
    }

    .carousel-caption p
    {
        margin-bottom: 2px;
    }

}

/* ================================== */
/* ipad styles :: landscape view only */
@media (orientation:landscape) and (max-device-width: 768px)
{
    .carousel-caption
    {
        left: 705px;
        top: 80px;
    }

    .item.candidly .carousel-caption,
    .item.laa .carousel-caption,
    .item.peoplescourt .carousel-caption
    {
         top: 100px;
    }

    .item.ellen .carousel-caption
    {
         top: 125px;
    }

}

