@charset "UTF-8";
/* CSS Document */

body
{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a
{
    color: #e3471d;
}

a:hover
{
    color: #e3471d;
    text-decoration: underline;
}

/* header */

.header
{
    background: #4fabd1;
    height: 300px;
}

.site-name
{
    margin-top: 70px;
    text-align: center;
}

.site-name h1
{
    color: #191919;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.site-name h3.tagline
{
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
}

/* main nav */

.navigation
{
    background: #1c1c1c;
}

.main-navigation
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-navigation ul
{
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.main-navigation ul > li
{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.main-navigation a
{
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.main-navigation a:hover,
.main-navigation .active-link a,
.main-navigation .active-link a:hover
{
    color: #f97552;
    text-decoration: none;
}

/* content */

#main-wrap
{
    padding-right: 40px;
}

h2.page-header
{
    color: #343434;
    border-bottom: 1px solid #363636;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}

#content .container
{
    padding-top: 60px;
    padding-bottom: 60px;
}

b,
strong
{
    font-weight: 700;
}

.content-section
{
 	margin-bottom: 40px;
}

.content-section p
{
    margin-bottom: 25px;
}

/* sidebar */

h3.sb-header
{
    color: #343434;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
}

#sidebar ul
{
	padding-left: 15px;
}

#sidebar li
{
    list-style-type: square;
    margin-bottom: 10px;
}

/* footer */

.footer
{
    background: #1c1c1c;
    color: #616161;
    font-size: 14px;
}

.footer a
{
 	color: #a5a5a5;
}

.footer a:hover
{
    text-decoration: underline;
}

.footer h3
{
    color: #f3f3f3;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer .container
{
    padding-top: 25px;
    padding-bottom: 25px;
}

#footer-site-copy-right
{
    font-size: 12px;
    text-align: center;
}

#footer-site-copy-right .container
{
    border-top: solid 1px #353535;
}

#footer-site-info .adobe
{
    padding-left: 0;
}