/* set width to overwrite responsive */

.container
{
    width: 1170px !important;
    min-width: 1170px;
}

html,
body
{
    min-width: 1170px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(/assets/content_bg.jpg);
}

a
{
 	color: #fff460;
}

a:hover
{
    color: #f4d217;
    text-decoration: none;
}

/* header */

.header
{
    background-image: url(/assets/bg-header.png);
    background-repeat: repeat-x;
    background-position: center top;
}

.tpx-logo
{
    margin-top: 7px;
    position: relative;
    z-index: 10;
}

/* carousel css */

#carousel-tpx-shows
{
    border-bottom: solid 10px #f2d015;
    margin: -34px auto 0;
    width: 1280px;
}

.carousel-caption
{
    font-size: 17px;
    font-weight: bold;
    left: 880px;
    position: absolute;
    text-align: left;
    top: 110px;
    width: 170px;
}

.item.candidly .carousel-caption,
.item.laa .carousel-caption,
.item.peoplescourt .carousel-caption
{
        top: 130px;
}

.item.ellen .carousel-caption
{
        top: 160px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right
{
    color: #f4d217;
}

.carousel-caption p
{
    margin-bottom: 5px;
}

/* show thumbnails */

h2.page-header
{
    border-bottom: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #221100;
}

.show-thumb
{
    margin-bottom: 10px;
    position: relative;
}

.show-link
{
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    font-size: 13px;
    font-weight: bold;
    height: 31px;
    left: 0;
    padding: 6px 0 0 10px;
    position: absolute;
    width: 227px;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
}

/* footer */

#footer-site-copy-right
{
    color: #fff460;
    font-size: 12px;
    background-color: #2a1704;
    height: 42px;
    padding-top: 15px;
    margin-top: 15px;
}